@import url(/CSS/shared.css);

.header__logo {
  font-weight: 700;
}

.logo__text {
  color: var(--brand-black);
}

.nav__list {
  display: flex;
  gap: 0.75rem;
}

.header__wrapper {
  padding: 0.6875rem;
}

.header {
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.header__buttons {
  display: flex;
  gap: 0.625rem;
}

.nav__link {
  color: var(--brand-gray);
  font-weight: 400;
  font-size: 0.625rem;
}

.nav__link:hover {
  color: var(--brand-green);
}

/* header ends */

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login__title {
  text-align: center;
  color: #0a0a3c;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form__group {
  margin-bottom: 20px;
}

.form__control {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 16px;
  color: #666;
  outline: none;
}

.form__control::placeholder {
  color: #888;
}

.checkbox__container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox__container input {
  margin-right: 10px;
}

.checkbox__container label {
  color: var(--brand-gray);
}

.login__btn {
  width: 100%;
  padding: 15px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login__links {
  margin-top: 15px;
  color: #666;
}

.login__links p {
  margin-bottom: 10px;
}

.login__links a {
  color: #27ae60;
  text-decoration: none;
}

.login__links a:hover {
  text-decoration: underline;
}
